/*fonts*/
@font-face {
  font-family: 'OpenSans Light';
  src: url('fonts/Gotham-Medium.eot');
  src: url('fonts/Gotham-Medium.eot?#iefix') format('woff2'),
  	   url('fonts/Gotham-Medium.woff') format('woff'), 
  	   url('fonts/Gotham-Medium.ttf') format('truetype'), 
  	   url('fonts/Gotham-Medium.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'OpenSans Regular';
  src: url('fonts/Gotham-Medium.eot');
  src: url('fonts/Gotham-Medium.eot?#iefix') format('woff2'),
  	   url('fonts/Gotham-Medium.woff') format('woff'), 
  	   url('fonts/Gotham-Medium.ttf') format('truetype'), 
  	   url('fonts/Gotham-Medium.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'OpenSans SemiBold';
  src: url('fonts/Gotham-Medium.eot');
  src: url('fonts/Gotham-Medium.eot?#iefix') format('woff2'),
  	   url('fonts/Gotham-Medium.woff') format('woff'), 
  	   url('fonts/Gotham-Medium.ttf') format('truetype'), 
  	   url('fonts/Gotham-Medium.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'OpenSans Bold';
  src: url('fonts/Gotham-Medium.eot');
  src: url('fonts/Gotham-Medium.eot?#iefix') format('woff2'),
  	   url('fonts/Gotham-Medium.woff') format('woff'), 
  	   url('fonts/Gotham-Medium.ttf') format('truetype'), 
  	   url('fonts/Gotham-Medium.svg#glyphicons_halflingsregular') format('svg');
}
/*GLOBAL*/
body {
	background: url('img/cta.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}
.container {
	transition: all .3s ease;
}
/*HERO SECTION*/
.hero {
	position: relative;
	background-image: url('img/hero1.jpg');
	background-size:  cover;
	position: relative;
	color: #fff;
	font-family: 'Source Sans Pro';
}
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	opacity: .4;
}
.hero-content {
	position: relative;
	padding-top: 15%;
	height: 100vh;
	min-height: 500px;
}
.hero-content h5 {
	font-size: 22px;
	font-weight: 300;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.hero-content h1 {
	font-size: 60px;
	font-weight: bold;
	margin-top: 0;
	transition: all .3s ease;
	margin-bottom: 10px;
}
.hero-content h1 span {
	font-weight: 300;
}
.hero-content p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1.5px;
	max-width: 520px;
	margin-bottom: 60px;
}
.hero-content a {
	padding: 12px 40px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	font-weight: 500;
	border: 1px solid #fff;
	letter-spacing: 1px;
	transition: all .3s ease;
}
.hero-content a:hover,
.hero-content a:active {
	color: #69c0d6;
	background: #fff;
	border: 1px solid #69c0d6;
}
/*responsive hero*/
@media (max-width: 767px){
	.hero-content {
		padding-top: 20%;
	}
	.hero-content h1 {
		font-size: 50px;
	}
}
@media (max-width: 420px){
	.hero-content {
		padding-top: 30%;
	}
	.hero-content h1 {
		font-size: 50px;
	}
}


/*ABOUT SECTION*/
/*about*/
.about {
	padding: 120px 0;
	padding-bottom: 60px;
	font-family: "Source Sans Pro";
	background: #fff;
	color: #434343;
	border-bottom: 1px solid #eaeaea;
}
.about-me {
	margin-bottom: 40px;
}
.about-me h3 {
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 0;
}
.about-me p {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: .4px;
	margin-bottom: 20px;
}

/*service*/
.service {
	color: #434343;
	padding-top: 10px;
}
.panel-group .panel {
       border-radius: 0;
       box-shadow: none;
       border-color: #EEEEEE;
}
.panel-default > .panel-heading {
       padding: 0;
       border-radius: 0;
       color: #434343;
       background-color: #fff;
       border-color: #cfcfcf;
}
.panel-title {
       font-size: 16px;
       letter-spacing: .5px;
       color: #434343;
}
.panel-title > a {
       display: block;
       padding: 18px;
       text-decoration: none;
       color: #434343 !important;
       position: relative;
       transition: all .3s ease;
}
.panel-title > a:hover {
	color: #69c0d6 !important;
}
.more-less {
       float: right;
       position: absolute;
       color: #434343;
       border: 1px solid #eee;
       padding: 18.5px;
       right: 0;
       top: 0;
       transition: all .3s ease;
}
.panel-title:hover .more-less {
	color: #69c0d6 !important;
}
.panel-default > .panel-heading , .panel-collapse > .panel-body {
       border-top-color: #fff;
}
.panel-collapse > .panel-body {
	padding: 28px;
	font-weight: 300;
	letter-spacing: .5px;
	font-size: 15px;
	color: #434343;
}

/*WORK SECTION*/
.work {
	background: #ecfafe;
	padding: 88px 0;
	color: #434343;
	font-family: "Source Sans Pro";
	text-align: center;
}
.work h2 {
	font-size: 43px;
	font-weight: 300;
	margin-bottom: 20px;
}
.work p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .5px;
	margin-bottom: 55px;
}

.owl-carousel {
	margin-bottom: 20px;
}
.owl-carousel:hover {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
.owl-carousel:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}
.item {
	position: relative;
	width: 100%;
}

.box-item {
	position: relative;
	margin: 0 10px;
}
.box-item img {
	height:  100%;
	width: 100%;
}
.box-caption {
	position: absolute;
	background: rgba(109,192,213,0.8);
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	transition: all .3s ease;
}
.item:hover .box-caption {
	opacity: 1;
}
.link-btn {
	display: block;
	width: 50px;
	height: 50px;
	padding: 14px;
	border-radius: 50%;
	color: #fff;
	border: 1px solid #fff;
	margin: auto auto;
	margin-top: 27.5%;
	transition: all .3s ease;
	transition-delay: .15s;
	opacity: 0;
}
.item:hover .link-btn {
	opacity: 1;

}
.link-btn:hover {
	background: rgba(255,255,255, 0.3);
}
.link-btn img {
	width: 20px;
	height: 20px;
}

/*CTA SECTION*/
.cta {
	font-family: "Source Sans Pro";
	background: transparent;
	padding: 85px 0;
	color: #fff;
	text-align: center;
}
.cta p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .5px;
}
@media (max-width: 1200px) {
	.cta p {
		margin-bottom: 40px;
	}
}
.cta a {
	padding: 12px 40px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	font-weight: 500;
	border: 1px solid #fff;
	letter-spacing: 1px;
	transition: all .3s ease;
}
.cta a:hover ,
.cta a:active {
	color: #fff;
	background: #69c0d6;
	border: 1px solid #69c0d6;
}

/*SKILL SECTION*/
.skill {
	background: #fff;
	padding: 100px 0;
	color: #434343;
	font-family: "Source Sans Pro";
}
.skill h3 {
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 45px;
	margin-top: 0;
}
.skill-item {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.skill-item p {
	margin-bottom: 5px;
	transition: all .3s ease;
	text-transform: uppercase;
}
.skill-item span {
	color: #69c0d6;
	float: right;
	opacity: 0;
	transition: all .3s ease;
}
.skill-item:hover p,  
.skill-item:hover span {
	color: #69c0d6;
	opacity: 1;
}
.bar {
	height: 20px;
	padding: 4px;
	border: 1px solid #cfcfcf;
}
.filled-bar {
	height: 100%;
	background: #69c0d6;
	width: 0%;
	transition: all .9s ease;
	transition-delay: 1s;
}

/*skill percentage*/
.htmlcss {
	width: 93%;
}
.js {
	width: 90%;
}
.interface {
	width: 85%;
}
.backend {
	width: 96%;
}
.database {
	width: 87%;
}

/*TESTIMONIALS SECTION*/
.testimonials {
	text-align: center;
	font-family: "Source Sans Pro";
	color: #fff;
	background: url(img/bgtestimonials.jpg);
	letter-spacing: .5px;
}
ol.carousel-indicators {
	bottom: 50px;
}
.carousel-indicators li {
	border-radius: 0;
	margin: 0 5px;
}
.carousel-indicators .active {
	margin: 0 5px;
}
.testimoni-text {
	margin-bottom: 50px;
	margin-top: 135px;
	font-weight: 300;
	font-style: italic;
	font-size: 21px;
	max-width: 90%;
	padding-left: 5%;
}
.testimonials h6 {
	font-size: 20px;
	font-weight: 600;
}
.company {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 135px;
}


/*CONTACT SECTION*/
.contact {
	padding: 110px 0;
	background: #fff;
	font-family: "Source Sans Pro";
}
.contact h4 {
	color: #434343;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 38px;

}
.input-textbox {
	font-size: 16px;
	font-weight: 300;
	color: #636262;
	width: 100%;
	letter-spacing: .5px;
	padding: 15px 20px;
	border: 1px solid #dadada;
	margin-bottom: 15px;
	transition: all .4s ease;
}
.input-textbox:focus {
	color: #6dc0d5;
	border: 1px solid #6dc0d5;
	box-shadow: none;
}
.btn-submit {
	width: 100%;
	padding: 15px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	box-shadow: none;
	border: none;
	color: #fff;
	letter-spacing: 1px;
	background: #6dc0d5;
	transition: all .4s ease;
}
.btn-submit:hover  {
	background: #58b3ca;
}

.contact-greeting {
	font-size: 16px;
	line-height: 24px;
	color: #636262;
	font-weight: 300;
	letter-spacing: .5px;
	word-spacing: 1px;
	margin-bottom: 40px;
}
.contact h6 {
	font-size: 20px;
	font-weight: 600;
}
.detail {
	margin-top: -20px;
}
.address {
	font-size: 18px;
	letter-spacing: .5px;
	font-weight: 400;
	color:  #b1b1b1;
	margin-bottom: 0;
} 
.inline {
	color: #b1b1b1;
	font-size: 18px;
	display: inline-block;
	font-weight: 400;
	margin-right: 30px;
} 
.email {
	display: inline-block;
	color: #6dc0d5;
}

/*footer*/
footer {
	padding: 75px 0;
	background: #e8faff;
	font-family: "Source Sans Pro";
}
footer ul {
	padding: 0;
}
footer ul li {
	list-style: none;
	display: inline-block;
}
footer p {
	text-align: center;
	color: #68a3b5;
	font-size: 18px;
	letter-spacing: 1px;
}
.social {
	text-align: center;
	margin-bottom: 25px;
}
.social-icon {
	width: 25px;
	height: 25px;
	margin: 0 20px;
}
.hideme
{
    opacity:0;
    transform: translateY(20px);
    transition: all 1.5s ease;
    transition-delay: .2s;
}

.showme {
	transform: translateY(0px);
	opacity: 1;
}