/*GLOBAL*/
html,
body {
	padding: 0;
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
}

body {
	background: #fefefe;
}

h1,h2,h3,h4,h5,h6,
img {
	padding: 0;
	margin: 0;
}
a:hover {
	text-decoration: none;
}

/* FONTS */
@font-face {
    font-family: 'Rubik Light';
      src: url('fonts/rubiklight.eot'); /* IE9 Compat Modes */
      src: url('fonts/rubiklight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('fonts/rubiklight.woff2') format('woff2'), /* Super Modern Browsers */
           url('fonts/rubiklight.woff') format('woff'), /* Super Modern Browsers */
           url('fonts/rubiklight.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('fonts/rubiklight.svg#svgFontName') format('svg'); /* Legacy iOS */
  	font-weight: normal;
  	font-style: normal;
}
@font-face {
	font-family: 'Rubik Medium';
      src: url('fonts/rubikmedium.eot'); /* IE9 Compat Modes */
      src: url('fonts/rubikmedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('fonts/rubikmedium.woff2') format('woff2'), /* Super Modern Browsers */
           url('fonts/rubikmedium.woff') format('woff'), /* Super Modern Browsers */
           url('fonts/rubikmedium.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('fonts/rubikmedium.svg#svgFontName') format('svg'); /* Legacy iOS */
  	font-weight: normal;
  	font-style: normal;
}
@font-face {
  	font-family: 'Rubik Regular';
      src: url('fonts/rubikregular.eot'); /* IE9 Compat Modes */
      src: url('fonts/rubikregular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('fonts/rubikregular.woff2') format('woff2'), /* Super Modern Browsers */
           url('fonts/rubikregular.woff') format('woff'), /* Super Modern Browsers */
           url('fonts/rubikregular.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('fonts/rubikregular.svg#svgFontName') format('svg'); /* Legacy iOS */
  	font-weight: normal;
  	font-style: normal;
}

.container {
	transition: all .6s ease;
}


/*HEADER*/
.main-navbar {
	padding: 37px 60px 37px;
	min-height: 124px;
	border: none;
	margin-bottom: 0;
	background: #fff;
}
@media (max-width: 960px){
	.main-navbar {
		padding: 37px 20px 37px;
	}
}
@media (max-width: 845px){
	.main-navbar {
		padding: 37px 10px 37px;
	}
}
@media (max-width: 767px){
	.main-navbar {
		padding: 37px 10px 17px;
		text-align: center;
	}
}

@media (max-width: 1030px) {
	.main-navbar .navbar-right {
		float: left !important;
	}
}
@media (max-width: 767px) {
	.main-navbar .navbar-right {
		float: none !important;
	}
}
.main-navbar .navbar-nav > li {
	margin: 0 12px;
}
@media (max-width: 1220px) {
	.main-navbar .navbar-nav > li {
		margin: 0 0px;
	}
}
@media (max-width: 1030px) {
	.main-navbar .navbar-nav {
		margin: 0 auto;
		width: 790px;
		margin-top: 80px;
		float: none !important;
		padding-left: 10%;
	}
	.short-nav .navbar-nav {
		margin: 0 auto;
		width: 570px;
		margin-top: 80px;
		float: none !important;
		padding-left: 3%;
	}
	.main-navbar .navbar-nav > li {
		margin: 0 8px;
	}
}
@media (max-width: 860px) {
	.main-navbar .navbar-nav {
		margin: 0 auto;
		width: 720px;
		margin-top: 80px;
		float: none !important;
	}
	.short-nav .navbar-nav {
		margin: 0 auto;
		width: 480px;
		margin-top: 80px;
		float: none !important;
	}
}
@media (max-width: 767px) {
	.main-navbar .navbar-nav {
		margin-top: 0px;
		width: 100%;
		padding-left: 0;
	}
}


.main-navbar .navbar-nav > li > a {
	padding: 17px 12px;
	font-family: "Rubik Medium", Fallback, sans-serif;
	font-size: 14px;
	color: #4e565e;
	text-transform: uppercase;
}
.main-navbar .navbar-nav > li > a.active {
  color: #2788e6;
}

@media (max-width: 885px){
	.main-navbar .navbar-nav > li {
		margin: 0 0px;
	}
}
.main-navbar .navbar-nav > li > a.signup {
	padding: 17px 27px 17px 32px;
	background: #fff;
	border: 1px solid #2788e6;
	color: #2788e6;
	border-radius: 5px;
}
@media (max-width: 1220px){
	.main-navbar .navbar-nav > li > a.signup {
		padding: 17px 20px 17px 20px;
	}
}
.main-navbar .navbar-nav > li > a:hover,
.main-navbar .navbar-nav > li > a:focus {
	color: #2788e6;
}
.navbar-brand {
	margin-top: -5px;
}
.navbar-brand img {
	width: 25px;
	float: left;
	margin-right: 7px;
}
.navbar-brand h1 {
	float: right;
	font-family: "Rubik Medium", Fallback, sans-serif;
	font-size: 31.68px;
	color: #1478d8;
	margin-top: 0;
}
.navbar-brand h1 span {
	color: #5cabf7;
}

@media (max-width: 1030px) {
	.navbar-brand {
		position: absolute;
        left: 50%;
        display: block;
        text-align: center;
	}
	.navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -90px;
    }
}
@media (max-width: 767px) {
	.navbar-brand{
		left: 17.5%;
	}
}
@media (max-width: 540px) {
	.navbar-brand{
		left: 25%;
	}
}
@media (max-width: 400px) {
	.navbar-brand{
		left: 27.5%;
	}
}
@media (max-width: 300px) {
	.navbar-brand{
		left: 30%;
	}
}
.main-navbar .navbar-toggle {
	border:none;
}
.main-navbar .navbar-toggle .icon-bar {
	background-color: #1478d8;
}
.main-navbar .navbar-toggle:hover, .main-navbar .navbar-toggle:focus {
	background-color: transparent;
}
@media (max-width: 767px){
	.main-navbar .navbar-collapse, .main-navbar .navbar-form {
		border:none;
		margin-top: 30px;
		padding-bottom: 0;
	}
}


.hero-image {

}

.hero-wrapper {
	background: url(images/hero1.jpg) no-repeat;
	padding: 100px 0 0 0;
}
.hero-wrapper h1 {
	font-family: "Rubik Light", Fallback, sans-serif;
	color: #2788e6;
}
.hero-wrapper p {
	color: #2a2a2a;
	font-family: "Rubik Light", Fallback, sans-serif;
	opacity: 0.7;
	line-height: 32px;
}
@media (min-width: 992px) {
	.hero-wrapper {
		background-size: 65%;
		background-position: 100% 50px;
	}
	.hero-wrapper h1 {
		font-size: 45px;
		width: 430px;
		margin-bottom: 30px;
	}
	.hero-wrapper p {
		font-size: 18px;
		max-width: 430px;
		padding-bottom: 100px;
	}
}
@media (max-width: 992px) {
	.hero-wrapper {
		background-size: 65%;
		background-position: 100% 50px;
	}
	.hero-wrapper h1 {
		text-align: center;
		font-size: 45px;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.hero-wrapper p {
		font-size: 18px;
		max-width: 430px;
		padding-bottom: 100px;
	}
}


.feature-img {
	margin-bottom: 34px;

}
.feature-img img {
	width: 100%;
	max-width: 370px;
}

.find-form {
	background: url(images/Pattern1.jpg) no-repeat;
	background-size: 100%;
	background-position: 0 100%;
}
@media (max-width: 681px) {
	.find-form {
		margin-top: -60px;
	}
}
.find-form-wrapper {
	background: #fff;
	padding: 25px 24px 25px 15px;
	box-shadow: 0px 0px 40px -2px rgba(218,218,218, 0.45);
	margin-bottom: 42px;
}
.wraping {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-start;
}

.find-form-wrapper .group-input {
	position: relative;
	margin: 0 9px;
	width:18%;
}
.find-form-wrapper .field {
	margin-bottom: 0;
	padding-top: 22px;
	padding-bottom: 22px;
	background: #fdfdfd;
}
@media (min-width: 1200px) {
	.find-form-wrapper .field {
		max-width: 204px;
	}
}
.find-form-wrapper .group-input .field {
	padding-left: 45px;
}
.find-form-wrapper .group-input span {
	position: absolute;
	top: 22px;
	left: 15px;
}
.find-form-wrapper .group-input:nth-child(4),
.find-form-wrapper .group-input:nth-child(5),
.find-form-wrapper .group-input:nth-child(6) {
	width: initial;
}
.find-form-wrapper .group-input .find-btn {
	width: initial;
	padding: 24px 37px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Rubik Medium", Fallback, sans-serif;
	line-height: initial;
	background: #2788e6;
	color: #fff;
}
.find-form-wrapper .group-input .offer-btn {
	background: #eab244;
}
.find-form-wrapper .circle {
	width: 10%;
	position: relative;
}
.circle-or {
	width: 42px;
	height: 42px;
	border: 1px solid #d7dfe8;
	position: relative;
	border-radius: 50%;
	padding: 10px;
	padding-top: 10px;
	font-family: "Rubik Medium", Fallback, sans-serif;
	color: #b2c1cf;
	font-size: 14px;
	margin: 10px 14px;
}
.circle::before {
	content: " ";
	position: absolute;
	width: 1px;
	top: -25px;
	left: 50%;
	height: 35px;
	background: #f0f0f0;
}
.circle::after {
	content: " ";
	position: absolute;
	width: 1px;
	bottom: -25px;
	left: 50%;
	height: 40px;
	background: #f0f0f0;
}

@media (max-width: 1320px){
	.find-form-wrapper .circle-or {
		margin: 10px auto;
	}
	.find-form-wrapper .group-input .find-btn {
		margin: 0;
		padding: 24px 21px;
	}
}
@media (max-width: 1091px) {
	.find-form-wrapper .group-input:nth-child(1),
	.find-form-wrapper .group-input:nth-child(2),
	.find-form-wrapper .group-input:nth-child(3) {
		width: 30.5%;
		margin-bottom: 20px;
	}
	.find-form-wrapper .group-input:nth-child(4),
	.find-form-wrapper .group-input:nth-child(6) {
		width: 41%;
		margin-bottom: 20px;
	}
	.find-form-wrapper .group-input:nth-child(5){
		width: 10%;
	}

	.find-form-wrapper .group-input .find-btn {
		margin: 0;
		padding: 24px 21px;
		width: 100%;
	}
	.circle::before,
	.circle::after {
		display: none;
	}
}

@media (max-width: 792px){
	.find-form-wrapper .group-input:nth-child(1),
	.find-form-wrapper .group-input:nth-child(2),
	.find-form-wrapper .group-input:nth-child(3) {
		width: 30%;
		margin-bottom: 20px;
	}
	.find-form-wrapper .group-input:nth-child(4),
	.find-form-wrapper .group-input:nth-child(6) {
		width: 40%;
		margin-bottom: 20px;
	}
	.find-form-wrapper .group-input:nth-child(5){
		width: 9%;
		padding-left: 5px;
	}
}
@media (max-width: 792px){
	.find-form-wrapper .group-input:nth-child(1),
	.find-form-wrapper .group-input:nth-child(2),
	.find-form-wrapper .group-input:nth-child(3) {
		width: 100%;
		margin-bottom: 20px;
	}
	.find-form-wrapper .group-input:nth-child(4),
	.find-form-wrapper .group-input:nth-child(6) {
		width: 100%;
		margin-bottom: 20px;
	}
	.find-form-wrapper .group-input:nth-child(5){
		width: 100%;
		padding-left: 5px;
		margin-bottom: 20px;
	}
	.find-form-wrapper .circle-or {
		margin: 0 auto;
	}
	.find-btn {
		width: 100%;
	}
}

.benefit {
	padding: 80px 0;
	text-align: center;
}
.section-title {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 42px;
	color: #2788e6;
}
.benefit .section-title {
	margin-bottom: 100px;
}
.benefit-img {
	margin: 0 auto;
	margin-bottom: 30px;
	height: 63px;
	vertical-align: middle;
}
.benefit .benefit-desc {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 16px;
	line-height: 27px;
	color: #767676;
	letter-spacing: .25px;
}
.benefit .benefit-title {
	font-family: "Rubik Medium", Fallback, sans-serif;
	font-size: 16px;
	color: #9daebf;
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: .25px;
}
.benefit .col-xs-12 {
	margin-bottom: 60px;
}

.route {
 	text-align: center;
 	background: url(images/route-bg.jpg);
}
@media (min-width: 600px) and (max-width: 768px){
	.route .col-xs-12 {
		width: 50%;
	}
}
.route .route-desc {
	font-family: "Rubik Medium", Fallback, sans-serif;
	font-size: 16px;
	color: #9daebf;
	margin-bottom: 90px;
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: .25px;
}
.route-item {
	padding: 20px;
	margin-bottom: 38px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 2px 28px rgba(0, 0, 0, 0.09);
}

.route-item .dest,
.route-item .price {
	text-align: left;
}
.route-item .price {
	width: 120px;
}
.route-item .price p {
	margin: 0;
}
.route-item .price p:nth-child(1) {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 16px;
	color: #767676;
	margin-bottom: 5px;
}
.route-item .price p:nth-child(2) {
	font-family: "Rubik Regular", Fallback, sans-serif;
	font-size: 25px;
	color: #2788e6;
}
.route-item ul {
	margin-bottom: 0;
	padding-left: 0px;
}
.route-item .dest li {
	list-style: none;
	padding-left: 20px;
	font-family: "Rubik Medium", Fallback, sans-serif;
	font-size: 16px;
	color: #2a2a2a;
	position: relative;
}
.route-item .dest li span {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #d2dce6;
	position: absolute;
	left: 0;
	top: 7px;
}
.route-item .dest li:nth-child(1) span::after {
	content: " ";
	position: absolute;
	width: 2px;
	top: 13px;
	left: 3.5px;
	background: #f3f7fb;
	height: 20px;
}
.route-item .dest li:nth-child(1) {
	margin-bottom: 15px;
}
.route-item .dest li:nth-child(2) span {
	background: #2788e6;
}
.feature .benefit-title {
	margin-top: 33px;
}

.popular-btn {
	margin-top: 50px;
	margin-bottom: 50px;
}
.popular-btn a {
	padding: 20px 30px;
	font-family: "Rubik Medium", Fallback, sans-serif;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .25px;
	background: #2788e6;
	border-radius: 5px;
}

@media screen and (max-width: 320px) {
	.popular-btn a {
		padding: 15px 10px;
		font-size: 13px;
	}
}
.carpooling-title {
	margin-bottom: 60px !important;
}


.user {
	width: 100%;
	display: flex;
}
.passenger {
	width: 50%;
	display: flex;
	flex-direction: row-reverse;
	padding: 25px 0;

	border: 1px solid #dbe5ee;
}
.driver {
	width: 50%;
	padding: 25px 0;
	border: 1px solid #dbe5ee;
}
.user-box {
	width: 100%;
	max-width: 400px;
	display: flex;
	position: relative;
}
.user-box a {
	width: 100%;
	max-width: 400px;
	display: flex;
	position: relative;

}
@media (max-width: 769px) {
	.user-box a {
		max-width: 100%;
	}
}
.user-box img {
	padding-top: 10px;
	margin-right: 25px;
}
.user-title {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 32px;
	margin-bottom: 0;
}

.passenger .user-title {
	color: #2788e6;
	margin-right: 30px;
}
.driver .user-title {
	color: #eab244;
}
.user-text {
	font-family: "Rubik Medium", Fallback, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #9cadbe;
}
.user-box span {
	position: absolute;
	right: 0;
	top: 20px;
}
@media (min-width: 992px) {
	.driver {
		padding-left: 90px;
	}
	.passenger {
		padding-right: 75px;
	}
}
@media (max-width: 992px) {
	.driver {
		padding-left: 40px;
	}
	.passenger {
		padding-right: 35px;
	}
}
@media (max-width: 840px) {
	.driver {
		padding-left: 10px;
	}
	.passenger {
		padding-right: 0px;
	}
}

@media (max-width: 768px) {
	.user {
		flex-direction: column;
	}
	.user-box {
		max-width: 100%;
	}
	.driver {
		width: 100%;
		padding-left: 40px;
	}
	.passenger {
		width: 100%;
		flex-direction: row;
		padding-left: 40px;
	}
}
@media (max-width: 400px) {
	.passenger {
		padding-left: 20px;
	}
	.driver {
		padding-left: 20px;
	}
	.user-title {
		font-family: "Rubik Light", Fallback, sans-serif;
		font-size: 24px;
		margin-bottom: 0;
	}
	.user-text {
		font-size: 14px;
	}
	.user-box img {
		padding-top: 10px;
		margin-right: 25px;
		width: 45px;
	}
	.user-box span {
		top: 12px;
	}
	.user-box span img {
		width: auto;
	}

}
/*LOGO SIGN UP AND SIGN IN*/
.signup-area,
.signin-area,
.contact-area {
	width: 96%;
	max-width: 460px;
	margin: 0 auto;
	text-align: center;

}
.main-logo img {
	width: 37px;
	margin-top: 78px;
	margin-bottom: 14px;
	vertical-align: inherit;
}
.main-logo h1 {
	font-family: "Rubik Medium", Fallback, sans-serif;
	line-height: 13.7px;
	font-size: 31.68px;
	color: #1478d8;
	margin-bottom: 30px;
	font-weight: bold;
}
.main-logo h1 span {
	color: #5cabf7;
}

/*SIGN UP PAGE*/
.signup-area .signup-title,
.signin-area .signin-title,
.contact-area .signin-title {
	color: #4e565e;
	font-family: "Rubik Regular", Fallback, sans-serif;
	font-size: 17px;
	margin-bottom: 0;
}

.signup-area .form,
.signin-area .form,
.contact-area .form{
	margin-top: 55px;
}
.signup-area form,
.signin-area form,
.contact-area form{
  -webkit-box-sizing: initial !important;
  -moz-box-sizing: initial !important;
  box-sizing: initial !important;
}
.field {
	font-family: "Rubik Regular", Fallback, sans-serif;
	font-size: 15px;
	color: #666;
	padding: 16px 22px;
	border-radius: 5px;
	border: 1px solid #d7dfe8;
	width: calc(100%);
	margin-bottom: 22px;
	line-height: auto;
}
@media(max-width: 465px){
	.contact-area .field,
	.signin-area .field,
	.signup-area .field {
		padding: 20px 4.78%;
		width: calc(100% - 9.56%);
	}
}
.first-name {
	width: 220px;
	float: left;
	margin-right: 20px;
}
.last-name {
	float: right;
	width: 220px;
}
@media(max-width: 496px){
	.first-name {
		width: 47.5%;
		float: left;
		margin-right: 5%;
	}
	.last-name {
		float: right;
		width: 47.5%;
	}
	.input-gender {
		padding-left: 20px;
	}
}
@media(max-width: 465px){
	.first-name {
		width: 37.17%;
		float: none;
		margin-right: 0;
	}
	.last-name {
		float: none;
		width: 37.17%;
	}
	.input-gender {
		padding-left: 20px;
	}
}
.last-name::after{
	clear: both;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #c1cdd9;
}
::-moz-placeholder { /* Firefox 19+ */
  	color: #c1cdd9;
}
:-ms-input-placeholder { /* IE 10+ */
  	color: #c1cdd9;
}
:-moz-placeholder { /* Firefox 18- */
  	color: #c1cdd9;
}
.input-gender {
	padding-top: 0;
	margin-top: 0;
	color: #8498ab;
	text-align: left;
	margin-bottom: 22px;
	font-family: "Rubik Regular", Fallback, sans-serif;
	font-size: 15px;
}
.signup-area form [type="radio"]:checked,
.signup-area form [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.signup-area form [type="radio"]:checked + label,
.signup-area form [type="radio"]:not(:checked) + label
{
	margin-right: 40px;
    position: relative;
    padding-top: 1px;
    padding-left: 42px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #8498ab;
}
@media(max-width: 465px){
	.signup-area form [type="radio"]:checked + label,
	.signup-area form [type="radio"]:not(:checked) + label{
		margin-bottom: 10px;
	}
}
.signup-area form [type="radio"]:checked + label:before,
.signup-area form [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    border: 1px solid #d7dfe8;
    border-radius: 100%;
    background: #fff;
}
.signup-area form [type="radio"]:checked + label:after,
.signup-area form [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: #5cabf7;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.signup-area form [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.signup-area form [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.signup-btn,
.signin-btn {
	font-family: "Rubik Medium", Fallback, sans-serif;
	background: #2788e6;
	font-size: 14px;
	letter-spacing: .5px;
	padding: 20px 0;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px;
	cursor: pointer;
}
@media ( max-width:  465px) {
	.signup-btn ,
	.signin-btn {
		width: calc(100% - 9.56%);
	}
}
.signin-btn {
	margin-bottom: 19px;
}
.signup-agreement {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 16px;
	color: #767676;
	line-height: 27px;
	width: 74.61%;
	margin: 0 auto;
	margin-top: 0;
}
.signup-area hr {
	border:none;
	border-top: 1px solid #d7e0e8;
	margin: 34px 0;
}
.have-account {
	font-family: "Rubik Light", Fallback, sans-serif;
	color: #767676;
	font-size: 16px;
	margin-bottom: 90px;
}
.have-account a {
	color: #2788e6;
}

.styled-checkbox {
  	position: absolute;
  	opacity: 0;
}
.styled-checkbox + label {
	float: left;
  	position: relative;
  	font-family: "Rubik Light", Fallback, sans-serif;
  	font-size: 16px;
  	font-weight: 300;
  	color: #767676;
  	cursor: pointer;
  	padding: 0;
  	margin-top: 3px;
}
.styled-checkbox + label:before {
  	content: '';
  	margin-right: 15px;
  	display: inline-block;
  	vertical-align: text-top;
  	border-radius: 5px;
  	width: 20px;
  	height: 20px;
  	background: white;
  	border: 1px solid #d7dfe8;
  	margin-top: -2px;
}
.styled-checkbox:hover + label:before {
  	background: transparent;
}
.styled-checkbox:focus + label:before {
}
.styled-checkbox:checked + label:before {
  	background: #2788e6;
}
.styled-checkbox:disabled + label {
  	color: #b8b8b8;
  	cursor: auto;
}
.styled-checkbox:checked + label:after {
  	content: '';
  	position: absolute;
  	left: 4.5px;
  	top: 9px;
  	background: white;
  	width: 2px;
  	height: 2px;
  	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.forgot {
	float: right;
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 15px;
	color: #2788e6;

}
.login-option {
	position: relative;
	margin-bottom: 80px;

}
@media ( max-width: 465px) {
	.login-option {
		margin: 0 auto;
		width: calc(100% - 9.56%);
	}
}
.login-option:after {
	clear: both;
}
.dont-have-account {
	font-family: "Rubik Light", Fallback, sans-serif;
	color: #767676;
	font-weight: 300;
	font-size: 16px;
	margin-top: 33px;
	margin-bottom: 90px;
}
.dont-have-account a {
	color: #2788e6;
}


/*CONTACT*/
.pagetitle {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 42px;
	font-weight: 300;
	color: #2788e6;
	margin-bottom: 20px;
	text-align: center;
}
.subpage-title {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 16px;
	color: #2a2a2a;
	margin-top: 0;
	margin-bottom: 50px;
}
.contact {
  background: #fcfcfc;
}
.contact-area {
	padding-bottom: 150px;
  padding-top: 120px;
}

.hero-about {
	overflow: hidden;
}
.hero-about .container {
	padding-left: 0;
}
.hero-about .hero-image{
	float: right;
	position: absolute;
	right: 0;
	z-index: 0;
}
.hero-about .hero-image img {
	max-width: 905px;
	width: 100%;
	margin-right: -70px;
}
.hero-about .hero-text {
	position: relative;
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 45px;
	color: #2788e6;
	font-weight: 300;
	padding-top: 320px;
	margin-bottom: 190px;
}
.hero-text h1 {
	max-width: 500px;
	z-index: 3;
}
.how-it-works .header .bg h1.about-us-title {
	margin-bottom: 100px !important;
}
.our-vision {
	padding: 125px 0;
	text-align: center;
	background: #f7f7f7;
	margin-top: 10px;
}
.our-vision .section-title,
.about-who .section-title {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 42px;
	color: #2788e6;
	margin-bottom: 30px;
	margin-top: 0;
}
.about-desc {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 16px;
	line-height: 27px;
	margin-top: 0;
	color: #767676;
}
.vision-desc {
	margin: 0 auto;
	max-width: 825px;
	width: 100%;
}
.about-who {
	padding: 125px 0;
	text-align: left;
	background: #fff;
}
.we-are-desc {
	max-width: 458px;
}
.about-who .side {
	width: 50%;
	float: left;
	transition: all .6s ease;
}
.about-who .rightside {
	padding-left: 110px;
}
@media(max-width:992px) {
	.about-who .rightside {
		padding-left: 30px;
	}
}
@media(max-width:768px) {
	.about-who .side {
		width: 100%;
		text-align: center;
	}
	.about-who .rightside {
		padding-left: 0;
		margin-top: 70px;
		text-align: center;
	}
	.we-are-desc {
		text-align: center;
		margin: 0 auto;
	}
}


/*CUSTOM SCROLL*/
.scrollable {
  position: relative;
}

.scrollable:focus {
  outline: 0;
}

.scrollable .viewport {
  position: relative;
  overflow: hidden;
}

.scrollable .viewport .overview {
  position: absolute;
}

.scrollable .scroll-bar {
  display: none;
}

.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%;
}

.scrollable .scroll-bar.horizontal {
  position: relative;
  width: 100%;
}

.scrollable .scroll-bar .thumb {
  position: absolute;
}

.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
  min-height: 10px;
}

.scrollable .scroll-bar.horizontal .thumb {
  height: 100%;
  min-width: 10px;
  left: 0;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Default skin*/

.scrollable.default-skin {
  padding-right: 10px;
  padding-bottom: 6px;
}

.scrollable.default-skin .scroll-bar.vertical {
  width: 8px;
  background-color: rgba(0,0,0,0.08);
  border-radius: 3px;
  z-index: 99;
  top: 0;
  height: 100%!important
}

.scrollable.default-skin .scroll-bar.horizontal {
  height: 6px;
}

.scrollable.default-skin .scroll-bar .thumb {
  background-color: rgba(0,0,0,0.15);
  border-radius: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  z-index: 999;
  position: relative;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);

}

.scrollable.default-skin .scroll-bar:hover .thumb {
  opacity: 0.6;
}

/*Gray skin*/

.scrollable.gray-skin {
  padding-right: 17px;
}

.scrollable.gray-skin .scroll-bar {
  border: 1px solid gray;
  background-color: red;
}

.scrollable.gray-skin .scroll-bar .thumb {
  background-color: gray;
}

.scrollable.gray-skin .scroll-bar:hover .thumb {
  background-color: black;
}

.scrollable.gray-skin .scroll-bar.vertical {
  width: 10px;
}

.scrollable.gray-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}

/*Modern skin*/
.scrollable.modern-skin {
  padding-right: 17px;
}

.scrollable.modern-skin .scroll-bar {
  border: 1px solid gray;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px #888;
  box-shadow: inset 0 0 5px #888;
}

.scrollable.modern-skin .scroll-bar .thumb {
  background-color: #95aabf;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #536984;
}

.scrollable.modern-skin .scroll-bar.vertical .thumb {
  width: 8px;
  background: -moz-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #95aabf), color-stop(100%, #547092));
  background: -webkit-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -o-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -ms-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: linear-gradient(to right, #95aabf 0%, #547092 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )";
}

.scrollable.modern-skin .scroll-bar.horizontal .thumb {
  height: 8px;
  background-image: linear-gradient(#95aabf, #547092);
  background-image: -o-linear-gradient(#95aabf, #547092);
  background-image: -moz-linear-gradient(#95aabf, #547092);
  background-image: -webkit-linear-gradient(#95aabf, #547092);
  background-image: -ms-linear-gradient(#95aabf, #547092);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )";
}

.scrollable.modern-skin .scroll-bar.vertical {
  width: 10px;
}

.scrollable.modern-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}






/*FAQ page*/
.faq {
	padding: 65px 0;
	background: #f3f3f3;
}
.faq-wrapper {
	background: #fff;
	margin-top: 68px;
	padding: 68px 0;
	min-height: 999px;
}
.faq-wrapper .search {
	max-width: 750px;
	margin: 0 auto;
	padding: 0 32px;
}
.faq-wrapper .field {
	margin-right: 20px;
	float: left;
	max-width: 530px;
}
.faq-wrapper .search-btn {
	float: right;
	width: 134px;
	margin-right: 0;
	font-family: "Rubik Medium", sans-serif;
	color: #fff;
	background: #2788e6;
}
.faq-wrapper .search:after {
	content: "";
  	display: table;
  	clear: both;
}
@media (max-width: 992px){
	.faq-wrapper .field {
		width: 75%;
	}
	.faq-wrapper .search-btn {
		width: 20%;
		min-width: 130px;
	}
}
@media (max-width: 712px){
	.faq-wrapper .field {
		width: 70%;
	}
	.faq-wrapper .search-btn {
		width: 20%;
		min-width: 130px;
	}
}
@media (max-width: 612px){
	.faq-wrapper .search {
		width: 85%;
	}
	.faq-wrapper .field {
		width: 100%;
	}
	.faq-wrapper .search-btn {
		width: 100%;
		min-width: 130px;
	}
}

.faq hr {
	margin: 45px 0 40px;
	border-top: 1px solid #d8d8d8;
}
.faq-sidebar {
	padding-left: 30px;
}
@media (max-width: 1200px){
	.faq-sidebar {
		padding-left: 0px;
	}
}
.faq-sidebar li {
	font-family: "Rubik Medium", Fallback, sans-serif;
	color: #909194;
	font-size: 16px;
	letter-spacing: .25px;
	max-width: 225px;
	padding: 18px 0;
	border-bottom: 1px solid #d8d8d8;
	list-style: none;
	text-transform: uppercase;
}
@media (max-width: 768px) {
	.faq-sidebar li {
		max-width: 90%;
	}
	.faq-content {
		padding: 0 60px;
		margin: 0 auto;
	}
}
.faq-sidebar li.active {
	color: #2788e6;
}
.faq-sidebar span {
	float: right;
}
@media (min-width: 991px){
	.faq-panel-group {
		min-height: 900px;
	}
}
@media (max-width: 380px) {
	.faq-panel-group span {
		display: none;
	}
}
.faq-panel-group span{
	float: right;
}
.span-rotate {
	transition: all .3s ease;
	transform: rotate(90deg);
}
.span-unrotate {
	transition: all .3s ease;
	transform: rotate(0deg);
}
.faq-panel-group .panel-heading {
	padding: 0;
	font-size: 16px;
	background: #fff;
	font-family: "Rubik Medium", Fallback, sans-serif;
}
.panel-heading a {
	text-decoration: none;
}
.panel-heading h4 {
	padding: 17px 0;
	color: #4e565e;
}
.faq-panel-group .panel-default {
	border:none;
	background: #fff;
	border-bottom: 1px solid transparent;
	border-radius: 0;
	box-shadow: none;
}
.faq-panel-group .panel-body {
	color: #818181;
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 16px;
	line-height: 32px;
}
.faq-wrapper .faq-content {
	border-left: 1px solid #d8d8d8;
	padding-left: 20px;
}
@media (max-width: 768px) {
	.faq-wrapper .faq-content {
		width: calc(90% - 10px);
		padding: 0;
		padding-top: 60px;
		padding-left: 55px;
		margin: 0 auto;
	}
}
@media (min-width: 1200px ){
	.faq-wrapper .faq-content {
		margin-left: -30px;
		padding-left: 49px;
	}
}
@media (min-width: 768px) and (max-width: 1200px){
	.faq-panel-group {
		padding-right: 20px;
	}

}
@media (min-width: 768px) and (max-width: 992px){
	.faq-sidebar ul {
		padding-left: 10px;
	}
}
@media (min-width: 830px) and (max-width: 992px){
	.faq .container {
		width: 820px;
	}
}

.footer {
	padding: 60px 0;
  	padding-bottom: 40px;
	position: relative;
	background: url(images/pattern.jpg) no-repeat;
  	background-position: 0 100%;
}
.footer h4 {
	margin: 0;
	margin-bottom: 33px;
	font-family: "Rubik Medium", Fallback, sans-serif;
	font-size: 16px;
	color: #2788e6;
	text-transform: uppercase;
}
.footer-nav {
	padding-left: 0;
	margin: 0;
	margin-bottom: 35px;
}
.footer-nav li {
	padding: 7px 0;
	margin: 0;
	list-style: none;
}
.footer-nav li a {
	font-family: "Rubik Light", Fallback, sans-serif;
	font-size: 16px;
	color: #767676;
	padding: 2px 0;
}
.footer-nav li a:hover {
	color: #2788e6;
}
.link-app {
	display: block;
	margin-bottom: 10px;
}
.social-media {
	padding-left: 0;
	padding-top: 18px;
}

.social-media li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-right: 18px;
  margin-bottom: 30px;
}
@media (max-width: 1100px) {
	.social-media li {
		margin-right: 10px;
	}
}
@media (max-width: 768px) {
	footer .col-xs-12 {
		width: 50%;
	  padding-left: 40px;
  }
}
@media (max-width: 420px){
	footer .col-xs-12 {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.our-company {
		min-height: 260px;
	}
}

.copyright {
  font-family: "Rubik Light", Fallback, sans-serif;
  font-size: 16px;
  color: #767676;
  text-align: center;
}

/*Privacy, Cookie, Term*/
.main-static {
  background-color: #f3f3f3;
  padding: 74px 0;
}
.main-static ul {
  padding: 0;
  counter-reset: number;
}
.main-static ul li {
  list-style: none;
}
.main-static .konten {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  height: 930px;
  box-shadow: 0 2px 28px rgba(0, 0, 0, 0.04);
  position: relative;
  margin: 0 auto;
  margin-top: 63px;
  box-sizing: border-box;
}
.main-static .konten.none-scroll {
  height: auto;
}
.main-static h1, .main-static p {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
}
.main-static h1 {
  font-family: "Rubik Light", Fallback, helvetica, sans-serif;
  text-align: center;
  font-size: 42px;
  color: #2788e6;
  padding: 0;
  margin: 0;
  line-height: 50px;
}
.main-static p {
  padding: 0;
  margin-bottom: 26px;
}
.main-static p.static-title-text, .main-static p.head-title {
  font-family: "Rubik Medium", Fallback, sans-serif;
  font-size: 18px;
  color: #909194;
}
.main-static p.static-title-text::before, .main-static p.head-title::before {
  content: counter(number) ". ";
  counter-increment: number;
}
.main-static p.head-title::before {
  content: "";
}
.main-static p.desc {
  font-size: 16px;
  font-family: "Rubik Light", Fallback, sans-serif;
  line-height: 28px;
  color: #9d9d9d;
}
.main-static p.loose {
  line-height: 48px;
}
.main-static.ladies-only p.head-title {
	margin-bottom: 16px;
}
.main-static.ladies-only p.desc {
	margin-bottom: 40px;
}
.main-static figure.ladies-only-img{
  width: 480px;
  height: 290px;
  max-width: 100%;
  margin: 56px auto 42px auto;
  padding: 0;
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  overflow: hidden;
}
.main-static img{
  width: 100%;
  height: auto;
}
.main-static .text-button p.desc{
  margin-bottom: 20px;
}
.main-static .text-button button.static-button{
  border-radius: 5px;
  text-align: center;
  font-family: 'Rubik Medium', Fallback, sans-serif;
  background-color: #2788e6;
  margin: 0;
  color: white;
  font-weight: 100;
  font-size: 14px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.main-static .text-button button.static-button::after{
  content: '';
  position: absolute;
  transform: translate(-50%,-50%) scale(0);
  background-color: #1768b7;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: 1s cubic-bezier(.1,.7,.3,1);
  z-index: -1
}
.main-static .text-button button.static-button:hover::after{
  transform: translate(-50%,-50%) scale(1);
}
.main-static .text-button button.static-button.p6{
  padding: 20px 35px;
}
.main-static .text-button button.static-button.p7{
  padding: 20px 50px;
}
.main-static .logo-text{
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  position: relative;
  z-index: 9999;
  margin-bottom: 55px;
}
.main-static .logo-text .logo-wrapper{
  width: 125px;
  height: 153px;
  margin-right: 40px;
}
.main-static .page8 .logo-text .logo-wrapper{
	margin-right: 50px;
  height: 128px;
  width: 128px;
}
.main-static .page7 .logo-text .text-button{
  padding-top: 2px;
}
.main-static .logo-text .text-button{
  flex: 1;
}
.main-static .ad-wrapper{
  width: 450px;
  height: 320px;
  max-width: 100%;
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  display: inline-flex;
  align-items: center;
  margin: 10px 0
}
.main-static .page8 .logo-text{
  margin-bottom: 35px;
}
.main-static .page8 .logo-text .text-button{
  padding-top: 2px;
}
.main-static .page8 .logo-text:nth-child(2n) .logo-wrapper{
  order: 1;
  margin-right: 0;
  margin-left: 40px;
}
.main-static .text-color-primary{
	color: #2788e6;
}
.main-static .page7 p.head-title{
  margin-bottom: 20px
}
.main-static .page8 p.head-title{
  margin-bottom: 13px
}
@media screen and (min-width: 768px) {
  .main-static .konten {
    width: 750px;
    padding: 50px 45px;
  }
}
@media screen and (min-width: 992px) {
  .main-static .konten {
    width: 970px;
    padding: 70px 85px;
  }
	.main-static .page8 .logo-text:nth-child(2n){
		margin-top: 55px
	}
	.main-static .page8 .logo-text:nth-child(4){
		margin-top: 69px
	}
}
@media screen and (min-width: 1200px) {
  .main-static .konten {
    width: 1140px;
    padding: 85px 120px;
  }
}
@media screen and (max-width: 768px) {
  .main-static .konten {
    width: 480px;
    padding: 55px 50px;
  }
  .main-static figure.ladies-only-img{
    margin: 5px auto 15px auto;
  }
  .main-static .logo-text{
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .main-static .logo-text .logo-wrapper,
  .main-static .page8 .logo-text .logo-wrapper,
  .main-static .page8 .logo-text:nth-child(2n) .logo-wrapper {
    margin: 0 auto;
    order: 0;
  }
	.main-static .page8 .logo-text .logo-wrapper,
  .main-static .page8 .logo-text:nth-child(2n) .logo-wrapper{
    margin-bottom: 20px
  }
  .main-static .page8 .logo-text:nth-child(4) .logo-wrapper {
    margin-bottom: 45px
  }
  .main-static .page7 .logo-text .logo-wrapper {
    margin-bottom: 20px
  }
}
@media screen and (max-width: 500px) {
  .main-static h1 {
    font-size: 37px;
  }
  .main-static .konten {
    height: 90vh;
    width: -webkit-calc(100% - 10%);
    width: calc(100% - 10%);
    padding: 45px 40px;
    margin-top: 30px;
  }
  .main-static figure.ladies-only-img{
    margin: 0 auto;
    height: 250px;
    margin-bottom: 25px
  }
  .main-static .ad-wrapper{
    height: 237px
  }
}
@media screen and (max-width: 415px) {
  .main-static h1{
    width: 80%;
    margin: 0 auto;
    font-size: 34px;
    line-height: 45px
  }
  .main-static .text-button button.static-button.p6,
  .main-static .text-button button.static-button.p7{
    padding: 1.3em;
    white-space: normal;
    line-height: 27px
  }
}
@media screen and (max-width: 350px) {
  .main-static .konten {
    padding: 30px 20px;
  }
  .main-static .text-button button.static-button.p6,
  .main-static .text-button button.static-button.p7{
    padding: 1em;
    line-height: 25px
  }
}

.konten {
  transition: all .3s ease;
}

/*HOW IT WORKS*/
.how-it-works {
	font-family: "Rubik Light", Fallback, sans-serif;
}
.how-it-works .container,
.how-it-works .row,
.how-it-works .bg
{
	height: 100%
}
.how-it-works .header .bg, .how-it-works section.category-service .choose-category, .how-it-works section.category-service .category-content p.full-fill, .how-it-works section.category-service .category-content figure.category-img, .how-it-works section.featured-service .featured-product, .how-it-works section.featured-service .featured-product figure {
  display: flex;
  align-items: center;
}
.how-it-works p {
  font-size: 18px;
  line-height: 32px;
  color: #2a2a2a;
  opacity: 0.7;
}
.how-it-works .header {
  height: 600px;
  margin-bottom: 30px;
}
.how-it-works .header .bg {
  background: url("images/hero-img.jpg") no-repeat;
  background-size: 839px auto;
  background-position: 427px center;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 993px) and (max-width: 1200px) {
	.how-it-works .header .bg {
		background-position: 290px center;
	}
}

.how-it-works .header .bg h1 {
  font-size: 45px;
  color: #2788e6;
  margin: 0;
  margin-bottom: 20px;
}
.how-it-works .header .bg p {
  margin: 0;
  margin-bottom: 24px;
  width: 330px;
  max-width: 100%;
}
.how-it-works .header .bg .btn {
  border-radius: 5px;
  text-align: center;
  font-family: "Rubik Medium", Fallback, sans-serif;
  background-color: #2788e6;
  margin: 0;
  color: white;
  font-weight: 100;
  font-size: 14px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  padding: 18px 30px;
}
.how-it-works .header .bg .btn::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  background-color: #1768b7;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: 1s cubic-bezier(0.1, 0.7, 0.3, 1);
  z-index: -1;
}
.how-it-works .header .bg .btn:hover::after {
  transform: translate(-50%, -50%) scale(1);
}
.how-it-works section.category-service {
  margin-bottom: 78px;
}
.how-it-works section.category-service .row, .how-it-works section.category-service .slider-wrapper {
  overflow-x: hidden;
}
.how-it-works section.category-service .container .row > div[class*="col"]:nth-child(1) {
  padding-right: 0;
}
  .how-it-works section.category-service .container .row > div[class*="col"]:nth-child(1) .choose-category {
    border-radius: 10px 0 0 0;
  }
.how-it-works section.category-service .container .row > div[class*="col"]:nth-child(2) {
  padding-left: 0;
}
  .how-it-works section.category-service .container .row > div[class*="col"]:nth-child(2) .choose-category {
    border-radius: 0 10px 0 0;
  }
.how-it-works section.category-service .slider {
  position: relative;
}
.how-it-works section.category-service .choose-category {
  height: 100px;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f3f3;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 1em;
}
.how-it-works section.category-service .choose-category:hover {
  background-color: #deedfb;
}
.how-it-works section.category-service .choose-category h3 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 9px;
  color: #2788e6;
}
.how-it-works section.category-service .choose-category small {
  font-family: "Rubik Medium", Fallback, sans-serif;
  font-size: 14px;
  display: block;
  margin: 0;
  opacity: 0.7;
  color: #6684a0;
  text-transform: uppercase;
}
.how-it-works section.category-service .choose-category.active {
  background-color: #2788e6;
}
.how-it-works section.category-service .choose-category.active h3 {
  color: white;
}
.how-it-works section.category-service .choose-category.active small {
  opacity: 1;
  color: white;
}
.how-it-works section.category-service .category-content {
  width: 100%;
  float: left;
}
.how-it-works section.category-service .category-content p.full-fill {
  background-color: #2788e6;
  height: 80px;
  color: white;
  font-family: "Rubik Medium", Fallback, sans-serif;
  font-size: 16px;
  padding-left: 65px;
  text-transform: uppercase;
  margin-bottom: 0;
  opacity: 1;
  position: relative;
  z-index: 99;
}
.how-it-works section.category-service .category-content figure.category-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  align-items: flex-start;
}
.how-it-works section.category-service .category-content figure.category-img img {
  width: 100%;
}
.how-it-works section.featured-service .featured-product {
  margin-bottom: 127px;
  justify-content: space-between;
}
.how-it-works section.featured-service .featured-product figcaption {
  flex: 1;
}
.how-it-works section.featured-service .featured-product figcaption h2 {
  color: #2788e6;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 48px;
}
.how-it-works section.featured-service .featured-product figure {
  width: 570px;
  height: 353px;
  max-width: 80%;
  overflow: hidden;
  margin-left: 112px;
  border-radius: 10px;
  height: auto;
	background-color: white;
	padding: 20px
}
.how-it-works section.featured-service .featured-product figure img {
  border-radius: 10px;
  width: 100%;
}
.how-it-works section.featured-service .featured-product:nth-child(2) figure {
  order: -1;
  margin-left: 0;
  margin-right: 112px;
}

@media screen and (max-width: 992px) and (min-width:768px) {
	.how-it-works section.category-service .choose-category {
    height: 90px;
  }
}
@media screen and (max-width: 992px) {
  .how-it-works .header {
    height: 550px;
  }
  .how-it-works .header .bg {
    background-position: 150px center;
  }
  .how-it-works section.featured-service .featured-product,
  .how-it-works section.featured-service .featured-product:nth-child(2) {
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
  }
  .how-it-works section.featured-service .featured-product figure,
  .how-it-works section.featured-service .featured-product:nth-child(2) figure {
    order: -1;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .how-it-works section.category-service {
    margin-bottom: 130px;
  }
  .how-it-works section.category-service .choose-category h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .how-it-works section.category-service .choose-category small {
    font-size: 11px;
    color: #666;
  }
  .how-it-works section.category-service .category-content p.full-fill {
    height: 60px;
    font-size: 14px;
  }
  .how-it-works section.featured-service .container .featured-product {
    margin-bottom: 50px;
  }
  .how-it-works section.featured-service .container .featured-product h2 {
    margin-bottom: 19px;
  }
}
@media (min-width: 681px) and (max-width: 992px) {
	.how-it-works .header .bg {
		background-size: 600px auto;
		background-position: 200px center;
	}
}
@media screen and (max-width: 768px) {
  .how-it-works section.category-service {
    margin-bottom: 50px;
  }
  .how-it-works section.category-service .choose-category {
    height: 76px;
  }
  .how-it-works section.category-service .choose-category h3 {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .how-it-works section.category-service .choose-category small {
    font-size: 12px;
    color: #666;
  }
  .how-it-works section.category-service .category-content p.full-fill {
    font-size: 12px;
  }
  .how-it-works section.featured-service .container .featured-product {
    margin-bottom: 50px;
  }
  .how-it-works section.featured-service .container .featured-product figcaption h2 {
    margin-bottom: 12px;
    font-size: 35px;
  }
  .how-it-works section.featured-service .container .featured-product figcaption p {
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
  }
  .how-it-works section.featured-service .container .featured-product figure {
    margin-bottom: 20px;
    }
  .how-it-works section.category-service .choose-category small {
    font-size: 12px;
    color: #666;
  }
  .how-it-works section.category-service .category-content p.full-fill {
    padding: 2em 4em;
    font-size: 12px;
    line-height: 1.8em;
  }
  .how-it-works section.featured-service .container .featured-product {
    margin-bottom: 50px;
  }
  .how-it-works section.featured-service .container .featured-product figcaption h2 {
    margin-bottom: 12px;
    font-size: 35px;
  }
  .how-it-works section.featured-service .container .featured-product figcaption p {
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
  }
  .how-it-works section.featured-service .container .featured-product figure {
    margin-bottom: 20px;
    }
}
@media screen and (max-width: 680px) {
  .how-it-works .header{
		height: 700px
	}
  .how-it-works .header .bg {
    justify-content: flex-start;
    text-align: center;
    background-position: 40% 100%;
    background-size: 150% auto;
  }
  .how-it-works .header .bg h1, .how-it-works .header .bg p, .how-it-works .header .bg button.btn {
    margin: 0 auto;
  }
  .how-it-works .header .bg h1 {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .how-it-works .header .bg p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 680px){
	.how-it-works .header .bg button.btn{
		margin-top: 20px
	}
}
@media screen and (max-width: 680px) and (min-width: 480px) {
  .how-it-works .header .bg {
    background-size: 120% auto;
  }
}
@media screen and (max-width: 550px) {
	.how-it-works section.category-service .choose-category small{
		display: none;
	}
	.how-it-works section.category-service .category-content p.full-fill{
		-webkit-justify-content: center;
		-moz-justify-content: center;
		justify-content: center;
		padding: 12px;
		text-align: center;
	}
}
@media screen and (max-width: 480px) {
  .how-it-works .header{
		height: 700px
	}
}


.homepage-hero h1 {
	width: 100%;
	max-width: 420px;
	margin-bottom: 40px;
}
@media (min-width: 1200px) {
	.homepage-hero h1 {
		max-width: 450px;
	}
}
.homepage-hero p {
	font-size: 18px;
	line-height: 32px;
	width: 100% !important;
}
@media (min-width: 1200px) {
	.homepage-hero p {
		max-width: 430px !important;
	}
}
@media (max-width: 1200px) {
	.homepage-hero p {
		font-size: 18px;
		line-height: 32px;
		max-width: 430px !important;
	}
}
@media (min-width: 800px) and (max-width: 992px) {
	.homepage-hero p {
		max-width: 320px !important;
	}
}
@media (max-width: 360px) {
	.homepage-hero h1 {
		font-size: 35px !important;
		margin-bottom: 40px !important;
	}
}
.underlined-static{
	text-decoration: underline #ccc;
}
@media (min-width:680px) and (max-width:992px){
	.homepage-hero .header .bg{
		height: 400px;
	}
	.homepage-hero .header,
	.homepage-hero .header .container{
		height: auto;
	}
}

@media screen and (max-width: 800px) {
	.homepage-hero .header .bg{
		height: 700px;
	}
  .homepage-hero .header{
		height: 700px
	}
  .homepage-hero .header .bg {
    justify-content: flex-start;
    text-align: center;
    background-position: 40% 120%;
    background-size: 100% auto;
  }
  .homepage-hero .header .bg h1, .homepage-hero .header .bg p, .homepage-hero .header .bg button.btn {
    margin: 0 auto;
  }
  .homepage-hero .header .bg h1 {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .homepage-hero .header .bg p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 680px) {
  .homepage-hero .header{
		height: 700px
	}
  .homepage-hero .header .bg {
    justify-content: flex-start;
    text-align: center;
    background-position: 40% 100%;
    background-size: 150% auto;
  }
  .homepage-hero .header .bg h1, .homepage-hero .header .bg p, .homepage-hero .header .bg button.btn {
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
	.aboutus-hero .header {
		height: 650px;
	}
	.aboutus-hero .header .bg{
		height: 650px;
	}
  
}
@media screen and (max-width: 720px) {
	.aboutus-hero .header {
		height: 550px;
	}
	.aboutus-hero .header .bg{
		height: 550px;
	}
	.aboutus-hero .header .bg {
	    background-size: 115% auto;
	}
  
}

@media screen and (max-width: 550px) {
	.aboutus-hero .header {
		height: 500px;
	}
	.aboutus-hero .header .bg{
		height: 500px;
	}
	.aboutus-hero .header .bg {
		background-position: 40% 100%;
	    background-size: 140% auto;
	}
  
}
@media screen and (max-width: 360px) {
	.aboutus-hero .header {
		height: 500px;
	}
	.aboutus-hero .header .bg{
		height: 500px;
	}
	.aboutus-hero .header .bg {
		background-position: 40% 100%;
	    background-size: 200% auto;
	}
  
}