/*
	* Afrikgo 2017
*/

body{
	overflow-x: hidden;
	font-family: 'Rubik', sans-serif;/*
	background-image: url('../img/pattern.jpg');
	background-repeat:repeat-x;
	top: 15%;*/
}
h2{
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color:rgb(39,136,230);
	line-height: 1.2;
}
h4,
.list-profile h4{
	color:rgb(39,136,230);
	font-weight:normal;
	/*line-height: 2.3;*/
}
.detail a,
.detail a:hover,
.detail a:focus,
.list-profile a,
.list-profile a:hover,
.list-profile a:focus{
	text-decoration: none;
	color:rgb(39,136,230);
	line-height: 1.929;
}
.body-content
{
	background-image: url('../img/pattern.jpg');
	background-repeat: repeat-x;
	background-position: 0 35px;
	/*min-height: 225px;*/
}
.header-msg{
	background-image: url('../img/pattern.jpg');
	background-repeat: repeat-x;
	background-position: 35px 0;
	top: 250px;
}
.body-content ul>li>a{
	color: rgb(78,86,94);
    font-size: 14px;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 20px;
}
.body-content ul>li>a:hover{
	color:rgb(39,136,230);
	background-color: transparent;
}
.body-content .active > a
{
  color:rgb(39, 136, 230);
  background-image: url(../img/active.png);
  background-repeat: no-repeat;
  background-position: left -10px bottom 10px;

}
.body-content button{
    font-size: 14px;
    /*margin-right: 25px;*/
    margin-left: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 20px;
}

.body-content .row,
.content,
.nav-footer{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.content .notif{
	margin-left: 40px;
	margin-top: 25px;
}
.body-content .me{
	background-color: #f5f5f5;
	margin-bottom: 25px;
}
.body-content .minim-panel{
	width: 75%;
}
.body-content .wto-content{
	margin-top: 150px;
}
.detail{
	padding-bottom: 15px;
}
.detail,
.rides{
	vertical-align: middle;
	padding-top: 15px;
}
.detail p,
.list-profile p{
	font-size: 16px;
	/*color: rgb(102,113,124);*/
	font-weight: 500;
	margin-left: 10px;
}
.detail h4{
	font-size: 25px;
	margin-left: 10px;
}
/*.detail p:last-child{
	font-size: 15px;
	font-weight: normal;
	
}*/
.detail .rides{
	font-weight: normal;
}
.detail .rides .nominal{
	font-size: 22px;
	color:rgb(39,136,230);
	text-align: right;
	padding-bottom: 5px;
}
.detail .rides .pull-right,
.body-content .pull-right{
	text-align: right;
}

.detail-btn{
	margin-top: 50px;
}
.detail .text-muted{
	font-weight: normal;
}
.nominal{
	font-size: 22px;
	color:rgb(39,136,230);
	text-align: right;
	padding-bottom: 5px;
}
#messages .rides img{
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
}
.rides .glyphicon-calendar{
	color:rgb(39,136,230);
}
.list h2{
	font-family: 'Rubik', sans-serif;
	color:rgb(39,136,230);
	line-height: 80%;
	font-size: 40px;
}
.header{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.nav-footer{
	margin-top: 112px;
	
}
.nav-footer h4{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 35px;
	margin-top: 25px;
}
.nav-footer ul li{
	font-size: 16px;
	color: rgb(118,118,118);
	line-height: 2.188;
	margin-bottom: 8px;
}
.list-profile{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.list-profile img{
	float: left;
}
#messages,
#messages .img
{
	margin-top: 15px;
	margin-bottom: 30px;
}
#border-bottom{
	border: 0.1px solid #ebebeb;
	width:97%;
}
.address img{
	vertical-align: middle;
}
.bottom-detail,
.bottom-detail a{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color:rgb(118,118,118);
	margin-bottom: 35px;
}
.bottom-detail a:hover,
.bottom-detail a:focus,
.footer a:hover,
.footer a:focus{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color:#337ab7;
}
.footer,
.footer a{
	margin-top: 50px;
	background-image: url(../img/pattern-footer.png);
	height: 75px;
	font-family: 'Rubik', sans-serif;
	color:rgb(118,118,118);
	line-height: 2.188;
	font-size: 16px;
	text-decoration: none;

}

@media(min-width: 768px){
	.verticalLine {
	  border-right: 1px solid rgb(229,229,229);
	  height: 87px;
	  margin: auto;
	}
	#messages .col-md-8,
	#messages .col-md-8 .col-md-4{
	margin-left: 0;
	padding-left: 0;
}
}
@media(max-width: 767px){
	body{
		overflow-x:hidden;
	}
  	.detail,
  	.detail img{
  		text-align: center;
  		margin-bottom: 30px;
  	}
  	.detail .rides{
  		text-align: center;
  		margin-top: 25px;
  	}
  	.detail .rides .pull-right,
  	.detail .rides .nominal{
	text-align: center;
	}
	.body-content .minim-panel{
	width: 75%;
	}
}
@media (max-width: 420px){
	.nav-footer .col-xs-12,
	.detail {
		width: 100%;
	}
	.list div{
  		width: 50%;
  	}
  	.verticalLine {
	  border-right: 0px;
	  height: 87px;
	  margin: auto;
	}
	#messages .col-md-2{
		width: 100%;
	}
	#messages img{
		text-align: center;
	}
}