
@font-face {
  font-family: 'Rubik-Regular';
  src: url('Rubik-Regular.eot?#iefix') format('embedded-opentype'),  url('Rubik-Regular.woff') format('woff'), url('Rubik-Regular.ttf')  format('truetype'), url('Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
